.pokemon-list-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;
  margin-bottom: 30px;

  @include desktop {
    justify-content: space-between;
  }

  &__pokemon-card {
    @include desktop {
      img {
        height: 330px;
      }
    }
  }

  li.pokemon-card {
    width: 100%;

    @include desktop {
      width: 270px;
    }
  }
}

.pokemon-list-loader {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 50px;
}

.pokemons-list-no-groups-found {
  margin-top: 2rem;

  text-align: center;
  color: $color-font-primary;

  @include desktop {
    font-size: $font-size-text-medium;
  }
}
