.pokemon-list-container {
  display: flex;
  justify-content: center;

  flex-wrap: wrap;

  @include desktop {
    justify-content: space-between;
  }
}

.pokemon-list-loader {
  width: 100%;

  display: flex;
  justify-content: center;

  margin-top: 50px;
}
