.attacks-modal--overlay {
  width: 100vw;
  height: 100vh;
  inset: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.attacks-modal {
  margin: 15px;
  background: $white-0;
  border-radius: 5px;
  border: none;

  max-width: 700px;

  &__header {
    padding: 15px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      width: 30px;
      height: auto;

      cursor: pointer;
    }
  }

  &__attacks-list {
    padding: 0px;
  }

  &__attack {
    margin-top: 5px;

    padding: 15px;

    display: flex;
    flex-direction: column;

    border-top: 2px solid $gray-700;

    &__name-container {
      margin: 10px 0px;

      display: flex;

      &__type {
        margin: 0px 5px;

        width: auto;
        padding: 5px;

        height: 35px;
      }
    }
  }
}
