// Media Query
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

//Colors
$color-primary: #313131;

$gray-400: #919191;

//sizes
$font-size-title: 2rem;
$font-size-text-regular: 1rem;
$font-size-text-small: 0.7rem;
